// FONTS
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap");

@sacramento: "Sacramento";
@karla: "Karla";

// COLORS
@bb-pink: #ab56a1;
@bb-purple: #592768;
@bb-drk-purple: #2c1435;
@bb-blue: #98cfed;
@bb-green: #3d6952;
